body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    padding: 20px;
}

h2, h3 {
    text-align: center;
    color: #333;
}

.container {
    
    max-width: auto;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1a6be4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d110f;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(31, 226, 103);
    text-align: center;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


/* @media (max-width: 768px) {
    .container {
        width: auto;
        padding: 15px;
    }

    input, button {
        font-size: 14px;
    }

    .result {
        font-size: 16px;
    }
    
} */


